In [ ]:
# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv

# Import API key
from api_keys import g_key
from api_keys import weather_api_key
print(weather_api_key)
print(g_key)

01cee722765ab785ef3c09df28fd5845
AIzaSyCwuc1Ab0j-x8tyuE0Yvamr3ctPkb-rcnw

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
output_file = "../WeatherPy/Weather_output.csv"
output_df = pd.read_csv(output_file)
output_df

,Unnamed: 0,City Name,City Number,Longitude,Country,Latitude,Temperature,Humidity,Cloudiness,Wind Speed
0,0,Albany,5106841,-73.9662,US,42.6001,80.37,75,60,1.99
1,1,Kaeo,2189343,173.7833,NZ,-35.1000,57.33,97,32,9.42
2,2,Barrow,5880054,-156.7887,US,71.2906,44.62,92,90,12.66
3,3,Carnarvon,2074865,113.6333,AU,-24.8667,51.87,74,0,6.91
4,4,Qaanaaq,3831208,-69.3632,GL,77.4840,40.53,71,80,5.68
...,...,...,...,...,...,...,...,...,...,...
567,567,Plátanos,255030,21.6167,GR,37.6667,76.51,61,0,3.74
568,568,Khani,610864,42.9566,GE,41.9563,62.17,98,73,1.57
569,569,Wuda,1791325,106.7117,CN,39.4994,76.64,47,91,7.27
570,570,Saint Anthony,5044290,-93.2180,US,45.0205,90.99,27,1,3.00
571,571,Sambir,694864,23.1975,UA,49.5183,65.88,80,41,5.73

In [ ]:
### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Filla NaN values and convert to float
# locations = locations.fillna(0) #.where(df['col'].notnull())
# locations = locations.values.tolist()

# figure_layout = {
#     "width": "400px",
#     "height": "300px",
#     "border": "1px solid black",
#     "passing": "1px",
#     "margin": "0 auto 0 auto"
    
# }
gmaps.configure(g_key)

locations = output_df[['Latitude','Longitude']]
humidity = output_df["Humidity"].astype(float)

fig= gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
fig.add_layer(heat_layer)
# markers = gmaps.marker_layer(locations)

fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
output_df

,Unnamed: 0,City Name,City Number,Longitude,Country,Latitude,Temperature,Humidity,Cloudiness,Wind Speed
0,0,Albany,5106841,-73.9662,US,42.6001,80.37,75,60,1.99
1,1,Kaeo,2189343,173.7833,NZ,-35.1000,57.33,97,32,9.42
2,2,Barrow,5880054,-156.7887,US,71.2906,44.62,92,90,12.66
3,3,Carnarvon,2074865,113.6333,AU,-24.8667,51.87,74,0,6.91
4,4,Qaanaaq,3831208,-69.3632,GL,77.4840,40.53,71,80,5.68
...,...,...,...,...,...,...,...,...,...,...
567,567,Plátanos,255030,21.6167,GR,37.6667,76.51,61,0,3.74
568,568,Khani,610864,42.9566,GE,41.9563,62.17,98,73,1.57
569,569,Wuda,1791325,106.7117,CN,39.4994,76.64,47,91,7.27
570,570,Saint Anthony,5044290,-93.2180,US,45.0205,90.99,27,1,3.00
571,571,Sambir,694864,23.1975,UA,49.5183,65.88,80,41,5.73

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
best_weather_df = output_df.loc[(output_df['Humidity'] <=50) & (output_df['Temperature'] >=65) & (output_df['Temperature'] <=85)]
best_weather_df.dropna()
best_weather_df

,Unnamed: 0,City Name,City Number,Longitude,Country,Latitude,Temperature,Humidity,Cloudiness,Wind Speed
34,34,Shelburne,6145890,-80.2041,CA,44.0787,80.82,35,0,15.41
39,39,Lüderitz,3355672,15.1594,NaN,-26.6481,67.35,23,100,4.76
62,62,Lusambo,210379,23.4500,CD,-4.9667,72.68,36,12,2.51
66,66,Walvis Bay,3359638,14.5053,NaN,-22.9575,77.95,12,30,14.97
74,74,Kindu,212902,25.9500,CD,-2.9500,78.89,37,46,4.88
82,82,Corrales,5463237,-106.6067,US,35.2378,83.25,44,40,5.01
124,124,Yumen,1528998,97.2000,CN,40.2833,76.30,33,4,10.07
159,159,Atoyac,4017987,-103.5333,MX,20.0167,82.76,48,20,3.44
162,162,Hanna,5970234,-111.9018,CA,51.6334,79.83,33,25,3.00
177,177,Kisanga,157014,37.7034,TZ,-7.4362,68.09,50,0,4.72
180,180,Krivogastani,789028,21.3331,MK,41.3361,70.84,34,0,1.45
227,227,Atyrau,610529,51.8833,KZ,47.1167,78.82,31,0,15.66
242,242,Cabra,2520645,-4.4421,ES,37.4725,81.77,47,15,4.00
263,263,Mweka,207596,21.5667,CD,-4.8500,73.24,35,7,2.84
264,264,Grivenskaya,558487,38.1760,RU,45.6473,76.30,50,18,9.62
273,273,Merke,1520969,73.1786,KZ,42.8728,79.47,25,0,6.53
290,290,Jiayuguan City,1280957,98.3000,CN,39.8167,73.54,39,60,1.63
296,296,Yenotayevka,467479,47.0281,RU,47.2456,77.65,42,22,10.18
298,298,Miandrivazo,1059051,45.4667,MG,-19.5167,72.77,49,57,5.64
303,303,Sonoma,5397100,-122.9011,US,38.5500,81.48,43,1,1.01
306,306,Sioux Lookout,6148373,-91.9170,CA,50.1001,78.87,38,75,17.27
314,314,Athabasca,5887916,-113.2854,CA,54.7169,73.71,25,97,11.21
333,333,Zhangye,1785036,100.4517,CN,38.9342,72.41,44,99,3.53
337,337,Norman Wells,6089245,-126.8329,CA,65.2820,69.84,43,40,3.44
364,364,Santa Maria,3450083,-53.8069,BR,-29.6842,83.50,37,40,9.22
371,371,Eldorado,3464343,-54.2836,BR,-23.7869,83.57,36,0,5.46
385,385,Mardin,304797,40.7436,TR,37.3131,83.64,26,0,5.48
389,389,Kotelnikowo,543728,43.1461,RU,47.6317,76.15,40,0,10.13
414,414,Jatai,3460064,-51.7144,BR,-17.8814,84.09,20,0,7.18
423,423,Emba,609924,58.1442,KZ,48.8264,74.25,40,0,8.43
449,449,Bandundu Province,2317397,17.3667,CD,-3.3167,81.48,29,97,3.22
461,461,Karratha,6620339,116.8463,AU,-20.7377,69.03,48,55,5.95
480,480,Portland,5746545,-122.6762,US,45.5234,83.77,46,1,4.00
485,485,San Fernando del Valle de Catamarca,3837702,-65.7852,AR,-28.4696,70.81,42,0,3.00
502,502,Kahama,158597,32.6000,TZ,-3.8333,65.89,42,6,5.28
526,526,Chapais,5919850,-74.8492,CA,49.7834,65.98,50,91,8.93
531,531,Sanski Most,3191297,16.6656,BA,44.7653,72.88,45,100,4.12
542,542,Iperó,3461134,-47.6886,BR,-23.3503,77.25,23,0,7.45
544,544,Rio Claro,3451234,-47.5614,BR,-22.4114,78.62,26,0,3.31
558,558,Kuybyshevo,538061,38.9073,RU,47.8123,75.22,48,90,8.19
560,560,Jiuquan,1279945,98.5174,CN,39.7432,73.81,41,85,1.79
566,566,Ziarat,1162094,67.7282,PK,30.3823,72.95,49,1,2.28
569,569,Wuda,1791325,106.7117,CN,39.4994,76.64,47,91,7.27

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = best_weather_df.loc[:,["City Name","Latitude","Longitude","Country", "Humidity"]]
hotel_df["Hotel"] = ""
hotel_df.head()

     City Name  Latitude  Longitude Country  Humidity Hotel
34   Shelburne   44.0787   -80.2041      CA        35
39    Lüderitz  -26.6481    15.1594     NaN        23
62     Lusambo   -4.9667    23.4500      CD        36
66  Walvis Bay  -22.9575    14.5053     NaN        12
74       Kindu   -2.9500    25.9500      CD        37

In [7]:
# radius = 5000
# base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
# query_url = f"{base_url}{g_key}{locations}{radius}"
# nearby_hotels = []

query_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}
    
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    city_name = row["City Name"]
    params["location"] = f"{lat},{lng}"
#     print(f"Processing {city_name}.")
    response = requests.get(query_url, params=params).json()
    results = response['results']
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel"] = results[0]['name']
    except (KeyError, IndexError):
        print(f"No hotels in {city_name}")
print("Search Completed")

Closest hotel in Shelburne is Shelburne Motel.
Closest hotel in Lüderitz is LÜDERITZ NEST HOTEL.
No hotels in Lusambo
Closest hotel in Walvis Bay is Protea Hotel by Marriott Walvis Bay Pelican Bay.
Closest hotel in Kindu is Hotel Karibu.
Closest hotel in Corrales is Quality Inn.
No hotels in Yumen
No hotels in Atoyac
Closest hotel in Hanna is Canalta Hotel Hanna.
No hotels in Kisanga
No hotels in Krivogastani
Closest hotel in Atyrau is Marriott Executive Apartments Atyrau.
Closest hotel in Cabra is MS Fuente Las Piedras.
No hotels in Mweka
No hotels in Grivenskaya
Closest hotel in Merke is Gostinitsa.
Closest hotel in Jiayuguan City is Jiayuguan Hotel.
No hotels in Yenotayevka
Closest hotel in Miandrivazo is EDEN DE LA TSIRIBIHINA.
No hotels in Sonoma
Closest hotel in Sioux Lookout is Sioux Lookout Inn & Suites.
Closest hotel in Athabasca is Days Inn by Wyndham Athabasca.
Closest hotel in Zhangye is Zhangye Lvzhou Holiday Inn.
Closest hotel in Norman Wells is Heritage Hotel.
Closest hotel in Santa Maria is Altadomo Hotel.
Closest hotel in Eldorado is Villa Verde Hotel.
Closest hotel in Mardin is Mardius Tarihi Konak.
Closest hotel in Kotelnikowo is Гостиница "Кристалл".
Closest hotel in Jatai is Thile Park Hotel.
No hotels in Emba
Closest hotel in Bandundu Province is Majestik Hôtel Bandundu.
Closest hotel in Karratha is Karratha International Hotel.
Closest hotel in Portland is Kimpton RiverPlace Hotel.
Closest hotel in San Fernando del Valle de Catamarca is Amerian Catamarca Park Hotel.
Closest hotel in Kahama is Submarine Hotels LTD.
Closest hotel in Chapais is Hôtel Opémiska.
Closest hotel in Sanski Most is Hotel Sanus.
Closest hotel in Iperó is Hotel Vitoria.
Closest hotel in Rio Claro is Class Hotel Rio Claro.
Closest hotel in Kuybyshevo is Мини-отель Искра.
Closest hotel in Jiuquan is Jiuquan Hotel.
Closest hotel in Ziarat is Ziarat Hotel.
Closest hotel in Wuda is Xinxin Hotel.
Search Completed

In [8]:
hotel_df

,City Name,Latitude,Longitude,Country,Humidity,Hotel
34,Shelburne,44.0787,-80.2041,CA,35,Shelburne Motel
39,Lüderitz,-26.6481,15.1594,NaN,23,LÜDERITZ NEST HOTEL
62,Lusambo,-4.9667,23.4500,CD,36,
66,Walvis Bay,-22.9575,14.5053,NaN,12,Protea Hotel by Marriott Walvis Bay Pelican Bay
74,Kindu,-2.9500,25.9500,CD,37,Hotel Karibu
82,Corrales,35.2378,-106.6067,US,44,Quality Inn
124,Yumen,40.2833,97.2000,CN,33,
159,Atoyac,20.0167,-103.5333,MX,48,
162,Hanna,51.6334,-111.9018,CA,33,Canalta Hotel Hanna
177,Kisanga,-7.4362,37.7034,TZ,50,
180,Krivogastani,41.3361,21.3331,MK,34,
227,Atyrau,47.1167,51.8833,KZ,31,Marriott Executive Apartments Atyrau
242,Cabra,37.4725,-4.4421,ES,47,MS Fuente Las Piedras
263,Mweka,-4.8500,21.5667,CD,35,
264,Grivenskaya,45.6473,38.1760,RU,50,
273,Merke,42.8728,73.1786,KZ,25,Gostinitsa
290,Jiayuguan City,39.8167,98.3000,CN,39,Jiayuguan Hotel
296,Yenotayevka,47.2456,47.0281,RU,42,
298,Miandrivazo,-19.5167,45.4667,MG,49,EDEN DE LA TSIRIBIHINA
303,Sonoma,38.5500,-122.9011,US,43,
306,Sioux Lookout,50.1001,-91.9170,CA,38,Sioux Lookout Inn & Suites
314,Athabasca,54.7169,-113.2854,CA,25,Days Inn by Wyndham Athabasca
333,Zhangye,38.9342,100.4517,CN,44,Zhangye Lvzhou Holiday Inn
337,Norman Wells,65.2820,-126.8329,CA,43,Heritage Hotel
364,Santa Maria,-29.6842,-53.8069,BR,37,Altadomo Hotel
371,Eldorado,-23.7869,-54.2836,BR,36,Villa Verde Hotel
385,Mardin,37.3131,40.7436,TR,26,Mardius Tarihi Konak
389,Kotelnikowo,47.6317,43.1461,RU,40,"Гостиница ""Кристалл"""
414,Jatai,-17.8814,-51.7144,BR,20,Thile Park Hotel
423,Emba,48.8264,58.1442,KZ,40,
449,Bandundu Province,-3.3167,17.3667,CD,29,Majestik Hôtel Bandundu
461,Karratha,-20.7377,116.8463,AU,48,Karratha International Hotel
480,Portland,45.5234,-122.6762,US,46,Kimpton RiverPlace Hotel
485,San Fernando del Valle de Catamarca,-28.4696,-65.7852,AR,42,Amerian Catamarca Park Hotel
502,Kahama,-3.8333,32.6000,TZ,42,Submarine Hotels LTD
526,Chapais,49.7834,-74.8492,CA,50,Hôtel Opémiska
531,Sanski Most,44.7653,16.6656,BA,45,Hotel Sanus
542,Iperó,-23.3503,-47.6886,BR,23,Hotel Vitoria
544,Rio Claro,-22.4114,-47.5614,BR,26,Class Hotel Rio Claro
558,Kuybyshevo,47.8123,38.9073,RU,48,Мини-отель Искра
560,Jiuquan,39.7432,98.5174,CN,41,Jiuquan Hotel
566,Ziarat,30.3823,67.7282,PK,49,Ziarat Hotel
569,Wuda,39.4994,106.7117,CN,47,Xinxin Hotel

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City Name</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]
new_markers = [(51.6334, -111.9018)]
print(len(locations))
best_humidity = hotel_df["Humidity"].astype(float)
print(len(best_humidity))

43
43

In [14]:
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)


fig

# fig2= gmaps.figure()
# heat_layer = gmaps.heatmap_layer(locations, weights=best_humidity,
#                                  dissipating=False, max_intensity=10,
#                                  point_radius=1)
# marker_layer = gmaps.marker_layer(locations)
# fig2.add_layer(marker_layer)


# fig2

Figure(layout=FigureLayout(height='420px'))